
.mainDiv{
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    flex-basis: auto;
    justify-content:flex-start;
    width: 100%;
    height: auto;
    padding: 0.5% 0%;
    padding-bottom: 0;
    background-color: rgb(245, 243, 243);

    & > div{
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        padding: 0.3% 2%;

        & > span{
            cursor: pointer;
        }

        &:hover{
            background-color: rgb(240, 238, 238);
        }
    }
}

.seled{
    border-bottom: 2px #2691d9 solid;
}